<div class="container cost-center-container">
  <h3 class="title">
    <a ui-sref="cost-center()" class="btn-back">
      <i class="fas fa-chevron-left"></i>
    </a>Cost Center Detail</h3>
  <div class="container">

    <div class="row">
      <div class="col-xs-2">
        <strong>Code :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.code}}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Description :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.description}}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Company Code :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.companyCode}}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Profit center :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.profitCenter}}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Created At :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.createdAt}}</div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Status :</strong>
      </div>
      <div class="col-xs-10">{{cs.costCenterDetail.status}}</div>
    </div>
  </div>
</div>