<div class="container">
  <h2>
    <a ui-sref="cost-center()" class="btn-back">
      <span class="glyphicon glyphicon-menu-left"></span>
    </a>Cost Center Detail</h2>

  <div class="row">
    <div class="col-xs-2">
      <strong>Code :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.code}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <strong>Description :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.description}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <strong>Company Code :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.companyCode}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <strong>Profit center :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.profitCenter}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <strong>Created At :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.createdAt}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <strong>Status :</strong>
    </div>
    <div class="col-xs-10">{{cs.costCenterDetail.status}}</div>
  </div>

</div>